@charset "UTF-8";
/* local PATH  */
/* local PATH  */
/* local PATH  */
/* local PATH  */
/* line 5, ../src/sass/_base.sass */
q { quotes: "«" "»"; }

/* line 9, ../src/sass/_base.sass */
code, kbd, samp, pre, tt, var { font-size: 12px; font-family: Monaco, Andale Mono, Courier New, monospace; }

/* line 15, ../src/sass/_base.sass */
code, pre { font-weight: normal; }

/* line 19, ../src/sass/_base.sass */
code { color: rgba(0, 0, 0, 0.75); padding: 0.1em 0.25em; line-height: 1.75em; background-color: #fee9cc; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -khtml-border-radius: 3px; -ms-border-radius: 3px; border-radius: 3px; }

/* line 27, ../src/sass/_base.sass */
pre { position: relative; display: block; margin: 20px 0; border: 1px solid rgba(0, 0, 0, 0.9); font-size: 12px; line-height: 12px; font-family: Monaco, Menlo, Consolas, "Courier New", monospace; color: #afafaf; background: #2d2d2d; -moz-border-radius: 5px 5px 1px 1px; -webkit-border-radius: 5px 5px 1px 1px; -o-border-radius: 5px 5px 1px 1px; -khtml-border-radius: 5px 5px 1px 1px; -ms-border-radius: 5px 5px 1px 1px; border-radius: 5px 5px 1px 1px; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); border: 1px solid rgba(0, 0, 0, 0.15); white-space: pre; white-space: pre-line; }
/* line 45, ../src/sass/_base.sass */
pre em { color: #cb4b16; font-style: normal; }
/* line 50, ../src/sass/_base.sass */
pre i { color: #268bd2; font-style: normal; }
/* line 55, ../src/sass/_base.sass */
pre .legend { position: relative; display: block; padding: 6px 12px 6px 6px; text-shadow: 0 -1px 0 #121212; border-bottom: 1px solid #000; line-height: 18px; -webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0; background-color: #2d2d2d; background-image: -moz-linear-gradient(top, #333, #222); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#222)); background-image: -webkit-linear-gradient(top, #333, #222); background-image: -o-linear-gradient(top, #333, #222); background-image: linear-gradient(to bottom, #333, #222); background-repeat: repeat-x; -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); z-index: 2; }
/* line 70, ../src/sass/_base.sass */
pre .legend:before { display: inline-block; padding-left: 50px; height: 15px; background: url('/../src/images/icons/icon/pre.png') 0 1px no-repeat; content: "Example"; }

/* line 83, ../src/sass/_base.sass */
.prettyprint { display: block; padding: 0; margin: 0 0 0 42px; color: #afafaf; }
/* line 89, ../src/sass/_base.sass */
.prettyprint:before { position: absolute; top: 0; left: 0; width: 40px; height: 100%; background: rgba(20, 20, 20, 0.8); content: ""; z-index: 1; }
/* line 100, ../src/sass/_base.sass */
.prettyprint li { list-style: decimal-leading-zero outside none; padding-left: 12px; white-space: pre; }

/* line 154, ../src/sass/_base.sass */
.linenums { position: relative; overflow: hidden; padding-left: 40px; }
/* line 160, ../src/sass/_base.sass */
.linenums:before { position: absolute; left: 0; width: 30px; padding: 0 0 10px 0; text-align: right; color: #ddd; content: "1. 2. 3. 4. 5. 6. 7. 8. 9. 10. 11. 12. 13. 14. 15. 16. 17. .18. 19 .20. 21. 22. 23. 24. 25. 26. 27. 28. 29. .30. 31. 32. 33. 34. 35. 36. 37. 38. 39. 40."; z-index: 100; }
/* line 171, ../src/sass/_base.sass */
.linenums:after { position: absolute; bottom: 0; left: 5px; width: 35px; height: 10px; background: #fefbf3; content: ""; z-index: 101; }

/* local PATH  */
/* local PATH  */
/* line 5, ../src/sass/_layout.sass */
html, body { width: 100%; height: 100%; overflow: hidden; }

/* line 12, ../src/sass/_layout.sass */
body { font-weight: normal; font-style: normal; font-size: 12px; font-family: Aria, Helvetica, sans-serif; line-height: 18px; color: #414042; min-width: 940px; padding: 0; margin: 0; background: url("../src/images/pattern/dark-style.png") 0 0 repeat; text-rendering: geometricPrecision; }

/** header.css */
/* line 41, ../src/sass/_layout.sass */
.app-header { display: block; height: 70px; line-height: 21px; }

/* line 46, ../src/sass/_layout.sass */
.logo-cssdoc { display: inline-block; vertical-align: top; color: #ffffff; font-size: 40px; line-height: 40px; padding: 15px; text-decoration: none; }

/* line 57, ../src/sass/_layout.sass */
.app-layout { position: absolute; top: 70px; bottom: 0; left: 0; right: 0; overflow: hidden; }

/* line 66, ../src/sass/_layout.sass */
.sidebar { position: relative; float: left; width: 50px; height: 100%; padding: 0 10px; }

/* line 75, ../src/sass/_layout.sass */
.item-sidebar { position: relative; display: block; width: 50px; height: 50px; margin: 10px 0 20px; color: #fff; text-align: center; background: #222; -moz-border-radius: 50px; -webkit-border-radius: 50px; -o-border-radius: 50px; -khtml-border-radius: 50px; -ms-border-radius: 50px; border-radius: 50px; }
/* line 87, ../src/sass/_layout.sass */
.item-sidebar:before { position: absolute; top: 0; right: 0; width: 50px; height: 50px; -moz-box-shadow: inset 0 0 11px rgba(0, 0, 0, 0.75); -webkit-box-shadow: inset 0 0 11px rgba(0, 0, 0, 0.75); box-shadow: inset 0 0 11px rgba(0, 0, 0, 0.75); -moz-border-radius: 50px; -webkit-border-radius: 50px; -o-border-radius: 50px; -khtml-border-radius: 50px; -ms-border-radius: 50px; border-radius: 50px; content: ""; z-index: 1; }
/* line 100, ../src/sass/_layout.sass */
.item-sidebar:hover:before { -moz-box-shadow: inset 0 0 10px rgba(50, 185, 240, 0.75); -webkit-box-shadow: inset 0 0 10px rgba(50, 185, 240, 0.75); box-shadow: inset 0 0 10px rgba(50, 185, 240, 0.75); }
/* line 105, ../src/sass/_layout.sass */
.item-sidebar [class^="icon-"] { position: absolute; position: absolute; top: 50%; left: 50%; margin-top: -10px; margin-left: -10px; margin-right: 0; margin-bottom: 0; width: 20px; }
/* line 110, ../src/sass/_layout.sass */
.item-sidebar .tinycon { z-index: 2; }

/* line 117, ../src/sass/_layout.sass */
.footer-sidebar { position: absolute; width: 30px; bottom: 0; left: 20px; padding: 10px 0; }
/* line 124, ../src/sass/_layout.sass */
.footer-sidebar .item { display: block; margin: 10px 0; width: 20px; height: 20px; padding: 5px; -moz-border-radius: 20px; -webkit-border-radius: 20px; -o-border-radius: 20px; -khtml-border-radius: 20px; -ms-border-radius: 20px; border-radius: 20px; }
/* line 132, ../src/sass/_layout.sass */
.footer-sidebar .item:hover { background: rgba(30, 30, 30, 0.8); }

/* line 144, ../src/sass/_layout.sass */
.app-sidebar { position: relative; float: left; width: 300px; padding: 0; height: 100%; background: rgba(220, 220, 220, 0.15); border-radius: 3px 0 0 0; user-select: none; }
/* line 163, ../src/sass/_layout.sass */
.app-sidebar .item { display: block; margin: 0; padding: 15px; font-size: 13px; color: #fff; text-shadow: 0 1px 0 #222; border-bottom: 1px solid #262626; }
/* line 174, ../src/sass/_layout.sass */
.app-sidebar .item a { color: #ffffff; text-decoration: none; }
/* line 178, ../src/sass/_layout.sass */
.app-sidebar .item:first-child { margin-top: 10px; }

/* line 187, ../src/sass/_layout.sass */
.app-main { display: block; margin: 0 0 0 300px; height: 100%; background-color: #fff; border-left: 40px solid #fff; padding-right: 40px; overflow: hidden; overflow-y: scroll; }

/* line 207, ../src/sass/_layout.sass */
#show_grid { display: inline-block; width: 940px; }

/* line 221, ../src/sass/_layout.sass */
dev { position: fixed; bottom: 10px; right: 21px; background: rgba(0, 0, 0, 0.75); padding: 10px 15px; color: #fff; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -khtml-border-radius: 5px; -ms-border-radius: 5px; border-radius: 5px; z-index: 1000; }
/* line 231, ../src/sass/_layout.sass */
dev a { color: #fff; }
